@import url(sanitize.css);

$active900: #ff9dff;
$active800: #e072ff;
$active700: #c256ff;
$active600: #a93dff;
$active500: #8106ea;
$active400: #6100cc;
$active300: #4200b2;
$active200: #1a0099;
$active100: #000081;

$red900: #ffa1ed;
$red800: #ff76c6;
$red700: #ff56ab;
$red600: #ff3693;
$red500: #eb007e;
$red400: #bf005c;
$red300: #a70049;
$red200: #850031;
$red100: #63001a;

$orange900: #ffd079;
$orange800: #ffad59;
$orange700: #ff913e;
$orange600: #ff731f;
$orange500: #f55d00;
$orange400: #d03e00;
$orange300: #a30d00;
$orange200: #7d0000;
$orange100: #5b0000;

$teal900: #81ffff;
$teal800: #5de8ec;
$teal700: #4bdadd;
$teal600: #33c9cd;
$teal500: #00b4b8;
$teal400: #008f94;
$teal300: #006b70;
$teal200: #00464c;
$teal100: #002428;

$green900: #d1ff52;
$green800: #ceff4f;
$green700: #c2ff42;
$green600: #adf128;
$green500: #9ce100;
$green400: #6cb300;
$green300: #2f7e00;
$green200: #075f00;
$green100: #004100;

$blue900: #d6c3ff;
$blue800: #9e95ff;
$blue700: #7073ff;
$blue600: #4c5cff;
$blue500: #0045ff;
$blue400: #002de0;
$blue300: #001cc9;
$blue200: #0010b7;
$blue100: #0004a1;

$gray900: #dce0e7;
$gray800: #b5b9c0;
$gray700: #888c92;
$gray600: #767a80;
$gray500: #60636a;
$gray400: #565a60;
$gray300: #3d4046;
$gray200: #272a30;
$gray100: #15181d;

BODY {
    background-color: $gray100;
    color: $gray800;
    font-family: sans-serif;
    font-size: 14px;
}

.appdrawer-opener {
    user-select: none;
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 48px;
    height: 48px;

    color: $active700;
    cursor: pointer;
    svg {
        width: 48px;
        height: 48px;
    }
    svg:hover {
        fill: $active900;
    }
}

.appdrawer {
    background-color: $gray200;

    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;

    .item {
        color: $gray800;
        margin: 32px;
        width: 90px;
        height: 112px;
        text-align: center;

        cursor: pointer;
        img {
            border-radius: 10px;
            width: 90px;
            height: 90px;
            margin-bottom: 8px;
        }
        &:hover img {
            filter: contrast(1.2);
        }
    }
}
.backdrop {
    user-select: none;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparentize($gray100, 0.5);
}

iframe.appiframe {
    border: 0px solid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center-box {
    padding-top: 49vh;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.auth-loading {
}

.auth-loaded {
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $active600;
    background-color: $active400;
    color: $active900;
    cursor: pointer;
    &:hover {
        background-color: $active300;
    }
    &:active {
        background-color: $active400;
    }
}

.requests {
    border-radius: 4px;
    padding: 32px;
    z-index: 100;
    position: fixed;
    top: 50%;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: $gray200;
}
