@import url(sanitize.css);

$active900: #ff9dff;
$active800: #e072ff;
$active700: #c256ff;
$active600: #a93dff;
$active500: #8106ea;
$active400: #6100cc;
$active300: #370977;
$active200: #2e0759;
$active100: #190a2a;

$red900: #ffa1ed;
$red800: #ff76c6;
$red700: #ff56ab;
$red600: #ff3693;
$red500: #eb007e;
$red400: #bf005c;
$red300: #a70049;
$red200: #850031;
$red100: #63001a;

$orange900: #ffd079;
$orange800: #ffad59;
$orange700: #ff913e;
$orange600: #ff731f;
$orange500: #f55d00;
$orange400: #d03e00;
$orange300: #a30d00;
$orange200: #7d0000;
$orange100: #5b0000;

$teal900: #81ffff;
$teal800: #5de8ec;
$teal700: #4bdadd;
$teal600: #33c9cd;
$teal500: #00b4b8;
$teal400: #008f94;
$teal300: #006b70;
$teal200: #00464c;
$teal100: #002428;

$green900: #d1ff52;
$green800: #ceff4f;
$green700: #c2ff42;
$green600: #adf128;
$green500: #9ce100;
$green400: #6cb300;
$green300: #2f7e00;
$green200: #075f00;
$green100: #004100;

$blue900: #d6c3ff;
$blue800: #9e95ff;
$blue700: #7073ff;
$blue600: #4c5cff;
$blue500: #0045ff;
$blue400: #002de0;
$blue300: #001cc9;
$blue200: #0010b7;
$blue100: #0004a1;

// $gray900: #dce0e7;
// $gray800: #b5b9c0;
// $gray700: #888c92;
// $gray600: #767a80;
// $gray500: #60636a;
// $gray400: #565a60;
// $gray300: #3d4046;
// $gray200: #272a30;
// $gray100: #15181d;

$gray100: #0a0a0a;
$gray200: #121212;
$gray300: #181818;
$gray400: #1f1f1f;
$gray500: #2c2c2c;
$gray600: #3d3d3d;
$gray700: #5a5a5a;
$gray800: #7f7f7f;
$gray900: #b3b3b3;

BODY {
    background-color: $gray400;
    color: $gray800;
    font-family: sans-serif;
    font-size: 14px;
}

.appdrawer-opener {
    user-select: none;
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 48px;
    height: 48px;

    color: $active700;
    cursor: pointer;
    svg {
        width: 48px;
        height: 48px;
    }
    svg:hover {
        fill: $active900;
    }
}

.appdrawer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-gap: 20px;

    background-color: $gray300;

    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    border-bottom: 1px solid $gray500;

    .item {
        color: $gray800;
        margin: 32px;
        width: 90px;
        height: 112px;
        text-align: center;

        cursor: pointer;
        .ico {
            border-radius: 10px;
            width: 90px;
            height: 90px;
            margin-bottom: 8px;
        }
        &:hover .ico {
            filter: contrast(1.2);
        }
        .add {
            background-color: $gray400;
            border: 1px solid $gray500;

            color: $active500;
            svg {
                margin-top: 22px;
                width: 50%;
                height: 50%;
            }
        }
    }
}
.backdrop {
    user-select: none;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparentize($gray400, 0.5);
    backdrop-filter: blur(16px);
}

iframe.appiframe {
    border: 0px solid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center-box {
    padding-top: 49vh;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.auth-loading {
}

.auth-loaded {
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $active600;
    background-color: $active200;
    color: $active900;
    cursor: pointer;
    &:hover {
        background-color: $active300;
    }
    &:active {
        background-color: $active400;
    }
}

.btn.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.btn-sec {
    border: 1px solid $gray800;
    background-color: $gray200;
    color: $gray900;
    &:hover {
        background-color: $gray400;
    }
    &:active {
        background-color: $gray300;
    }
}

.dialog {
    border: 1px solid $gray500;
    border-radius: 8px;
    padding: 32px;
    z-index: 100;
    position: fixed;
    top: 50%;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: $gray200;
    .title {
        font-size: 24px;
        margin-bottom: 16px;
        color: $gray900;
    }
}

.perm-level-1 {
    padding: 8px 16px;
    background-color: $orange700;
    color: $orange100;
    border-bottom: 1px solid $orange600;
}

.perm-level-2 {
    padding: 8px 16px;
    background-color: $red800;
    color: $red100;
    border-bottom: 1px solid $red700;
}
.perm-level-3 {
    padding: 8px 16px;
    background-color: $red400;
    color: $red900;
    border-bottom: 1px solid $red600;
}
.perm-level-4 {
    padding: 8px 16px;
    background-color: $red200;
    color: $red900;
    border-bottom: 1px solid $red400;
}

.btn-actions {
    margin-top: 16px;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.perm-green {
    color: $green500;
}

.a-obj {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.a-val {
    color: $orange900;
}
.a-label {
    color: $gray800;
}

.a-args {
    margin-top: 10px;
    border-top: 1px solid $gray500;
    padding-top: 10px;
}

.a-infogrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    .label {
        color: $gray800;
    }
    .val {
        color: $orange900;
    }
}
