@import url(style/sanitize.css);
@import "style/colors";
@import "style/loader";

BODY {
    background-color: $gray400;
    color: $gray800;
    font-family: sans-serif;
    font-size: 14px;
}

.appdrawer-opener {
    user-select: none;
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 48px;
    height: 48px;

    color: $active700;
    cursor: pointer;
    svg {
        width: 48px;
        height: 48px;
    }
    svg:hover {
        fill: $active900;
    }
}

.appdrawer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-gap: 20px;

    background-color: $gray300;

    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    border-bottom: 1px solid $gray500;

    .item {
        color: $gray800;
        margin: 32px;
        width: 90px;
        height: 112px;
        text-align: center;

        cursor: pointer;
        .ico {
            border-radius: 10px;
            width: 90px;
            height: 90px;
            margin-bottom: 8px;
        }
        &:hover .ico {
            filter: contrast(1.2);
        }
        .add {
            background-color: $gray400;
            border: 1px solid $gray500;

            color: $active500;
            svg {
                margin-top: 22px;
                width: 50%;
                height: 50%;
            }
        }
    }
}
.backdrop {
    user-select: none;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparentize($gray400, 0.5);
    backdrop-filter: blur(16px);
}

iframe.appiframe {
    border: 0px solid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center-box {
    padding-top: 49vh;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.auth-loading {
}

.auth-loaded {
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $active600;
    background-color: $active200;
    color: $active900;
    cursor: pointer;
    &:hover {
        background-color: $active300;
    }
    &:active {
        background-color: $active400;
    }
}

.btn.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.btn-sec {
    border: 1px solid $gray800;
    background-color: $gray200;
    color: $gray900;
    &:hover {
        background-color: $gray400;
    }
    &:active {
        background-color: $gray300;
    }
}

.dialog {
    border: 1px solid $gray500;
    border-radius: 8px;
    padding: 32px;
    z-index: 100;
    position: fixed;
    top: 50%;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparentize($gray200, 0.2);
    .title {
        font-size: 24px;
        margin-bottom: 16px;
        color: $gray900;
    }
}

.perm-level-1 {
    padding: 8px 16px;
    background-color: $orange700;
    color: $orange100;
    border-bottom: 1px solid $orange600;
}

.perm-level-2 {
    padding: 8px 16px;
    background-color: $red800;
    color: $red100;
    border-bottom: 1px solid $red700;
}
.perm-level-3 {
    padding: 8px 16px;
    background-color: $red400;
    color: $red900;
    border-bottom: 1px solid $red600;
}
.perm-level-4 {
    padding: 8px 16px;
    background-color: $red200;
    color: $red900;
    border-bottom: 1px solid $red400;
}

.btn-actions {
    margin-top: 16px;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.perm-green {
    color: $green500;
}

.a-obj {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.a-val {
    color: $orange900;
}
.a-label {
    color: $gray800;
}

.a-args {
    margin-top: 10px;
    border-top: 1px solid $gray500;
    padding-top: 10px;
}

.a-infogrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    .label {
        color: $gray800;
    }
    .val {
        color: $orange900;
    }
}

.compile-loading,
.compile-done {
    .loader {
        zoom: 0.5;
        margin-top: 15px;
    }
    gap: 10px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    display: flex;
}

.install-progress {
    display: grid;
    grid-template-columns: 33px 1fr;
    grid-gap: 10px;
    svg {
        margin-left: 3px;
        font-size: 20px;
    }
    .loader {
        zoom: 0.5;
    }
}
