$active900: #ff9dff;
$active800: #e072ff;
$active700: #c256ff;
$active600: #a93dff;
$active500: #8106ea;
$active400: #6100cc;
$active300: #370977;
$active200: #2e0759;
$active100: #190a2a;

$red900: #ffa1ed;
$red800: #ff76c6;
$red700: #ff56ab;
$red600: #ff3693;
$red500: #eb007e;
$red400: #bf005c;
$red300: #a70049;
$red200: #850031;
$red100: #63001a;

$orange900: #ffd079;
$orange800: #ffad59;
$orange700: #ff913e;
$orange600: #ff731f;
$orange500: #f55d00;
$orange400: #d03e00;
$orange300: #a30d00;
$orange200: #7d0000;
$orange100: #5b0000;

$teal900: #81ffff;
$teal800: #5de8ec;
$teal700: #4bdadd;
$teal600: #33c9cd;
$teal500: #00b4b8;
$teal400: #008f94;
$teal300: #006b70;
$teal200: #00464c;
$teal100: #002428;

$green900: #d1ff52;
$green800: #ceff4f;
$green700: #c2ff42;
$green600: #adf128;
$green500: #9ce100;
$green400: #6cb300;
$green300: #2f7e00;
$green200: #075f00;
$green100: #004100;

$blue900: #d6c3ff;
$blue800: #9e95ff;
$blue700: #7073ff;
$blue600: #4c5cff;
$blue500: #0045ff;
$blue400: #002de0;
$blue300: #001cc9;
$blue200: #0010b7;
$blue100: #0004a1;

$gray100: #0a0a0a;
$gray200: #121212;
$gray300: #181818;
$gray400: #1f1f1f;
$gray500: #2c2c2c;
$gray600: #3d3d3d;
$gray700: #5a5a5a;
$gray800: #7f7f7f;
$gray900: #b3b3b3;
